.board {
	position: relative;
	width: 540px;
	height: 600px;
}

.gameInfo {
	min-width: 240px;
}

.pieceContainer, .pieceContainer td {
	padding: 0px;
	border-spacing: 0;
	z-index: 1;
	position: relative;
}

.playerColorRed, .playerColorBlack {
	font-weight: bold;
}

.playerColorRed {
	background: #dc3545;
	color: #ffffff;
}

.playerColorBlack {
	background: #000000;
	color: #ffffff;
}

.boardBackground {
	background-image: url('/img/board.svg');
	background-repeat: no-repeat;
	position: absolute;
	width: 480px;
	height: 540px;
	margin: 30px;
}

/** SELECTED */
.selected {
	background: radial-gradient(closest-side,yellow 70%, transparent);
	height: 60px;
	width: 60px;
	position: absolute;
	z-index: -1;
}

.move {
	background: radial-gradient(closest-side, rgb(255 255 255) 8%, rgb(255 0 0 / 50%) 16%, transparent 50%);
	height: 60px;
	width: 60px;
	position: absolute;
	z-index: 1;
}

/** TILES */
.tile {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin: 10px;
}

.tile-red {
	background-image: url('/img/pieces/tile/btn-red.png');
}

.tile-black {
	background-image: url('/img/pieces/tile/btn-black.png');
}

.piece {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
	margin: 10px;
}

/** CHINESE CHARACTERS */
/** RED */
.advisor-red {
	background-image: url('/img/pieces/character/chinese/red/chinese-advisor.svg');
}

.cannon-red {
	background-image: url('/img/pieces/character/chinese/red/chinese-cannon.svg');
}

.elephant-red {
	background-image: url('/img/pieces/character/chinese/red/chinese-elephant-red.svg');
}

.horse-red {
	background-image: url('/img/pieces/character/chinese/red/chinese-horse.svg');
}

.king-red {
	background-image: url('/img/pieces/character/chinese/red/chinese-king.svg');
}

.pawn-red {
	background-image: url('/img/pieces/character/chinese/red/chinese-pawn.svg');
}

.rook-red {
	background-image: url('/img/pieces/character/chinese/red/chinese-rook.svg');
}

/** BLACK */
.advisor-black {
	background-image: url('/img/pieces/character/chinese/black/chinese-advisor.svg');
}

.cannon-black {
	background-image: url('/img/pieces/character/chinese/black/chinese-cannon.svg');
}

.elephant-black {
	background-image: url('/img/pieces/character/chinese/black/chinese-elephant.svg');
}

.horse-black {
	background-image: url('/img/pieces/character/chinese/black/chinese-horse.svg');
}

.king-black {
	background-image: url('/img/pieces/character/chinese/black/chinese-king.svg');
}

.pawn-black {
	background-image: url('/img/pieces/character/chinese/black/chinese-pawn.svg');
}

.rook-black {
	background-image: url('/img/pieces/character/chinese/black/chinese-rook.svg');
}
