@page

<div class="loadOverlay" style="display: none">
    <div class="tile tile-red"></div>
    <div class="tile tile-black"></div>

    <div class="piece advisor-red"></div>
    <div class="piece advisor-black"></div>

    <div class="piece cannon-red"></div>
    <div class="piece cannon-black"></div>

    <div class="piece elephant-red"></div>
    <div class="piece elephant-black"></div>

    <div class="piece horse-red"></div>
    <div class="piece horse-black"></div>

    <div class="piece king-red"></div>
    <div class="piece king-black"></div>

    <div class="piece pawn-red"></div>
    <div class="piece pawn-black"></div>

    <div class="piece rook-red"></div>
    <div class="piece rook-black"></div>
</div>

<div id="board">

</div>

<script src="~/lib/babel/babel.min.js"></script>
<script src="~/lib/react/react.development.js"></script>
<script src="~/lib/react-dom/react-dom.development.js"></script>
<script src="~/lib/signalr/signalr.min.js"></script>

<script type="text/babel" src="~/js/gamescripts/components/PieceComp.jsx"></script>
<script type="text/babel" src="~/js/gamescripts/components/BlankComp.jsx"></script>
<script type="text/babel" src="~/js/gamescripts/components/BoardComp.jsx"></script>

<script src="~/js/gamescripts/Piece.js"></script>
<script src="~/js/gamescripts/gameListener.js"></script>
<script src="~/js/gamescripts/boardParse.js"></script>
<script type="text/babel" src="~/js/gamescripts/gameUI.jsx"></script>